/* container */

.container .banner { position: relative; }
.container .banner-text { background: rgba(255,255,255, 0.1); position: absolute; color: #FFF; font-weight: 900; font-size: 20px; top: 29%; left: 7%; color:#666; font-size: 3.4vw; font-family: proxima-n-w01-reg,sans-serif; text-align: center; padding: 17px; border-radius: 5px;}
.container .submit-form { 
    border: 1px solid #CCC;
    padding: 48px;
    border-radius: 7px;
    background: #F5F5F5;
 }
 .container .booking-btn-group { text-align: center;}